.profilim-container {
  display: flex;
  height: 100vh;
  background: #e5e5e5;
}

.form {
  background-color: #e5e5e5;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  overflow-y: scroll;
}

label {
  display: block;
  margin-bottom: 5px;
}

.profilim-text-alani {
  width: 100% !important;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white !important;
}

.profilim-text-alani::placeholder {
  color: #6c757d;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  color: #495057;
}

label {
  color: #060818;
  margin-top: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  color: #495057;
  resize: vertical;
}

.col {
  margin-right: 5px;
}
